.logo {
  color: #ffd523;
  /* font-family: 'Archivo Black', sans-serif; */
  letter-spacing: -1px;
  font-family: 'Kaushan Script', cursive;
}

.normal {
  font-size: 30px;
}

.large {
  font-size: 40px;
}
