.logo {
  color: var(--color-primary);
  letter-spacing: -1px;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  align-items: center;
  display: flex;
  width: 140px;
}

.logo > img {
  width: inherit;
}
