.headerDate {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  padding-left: 8px;
}

.headerDate:first-child {
  margin-top: 16px;
}
