.card {
  background-color: #4b7cff;
  border-radius: 8px;
  display: flex;
  padding: 20px;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
}

@media (min-width: 720px) {
  .card {
    height: 250px;
  }
}

.card:hover {
  background-color: #1552f8;
}

.title {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.count {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  justify-self: flex-end;
}
