.steps {
  font-size: inherit;
}

.openStepsButton {
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  font-size: 25px;
  background-color: inherit;
  color: #2c2e43;
  border-radius: 50%;
}

.openStepsButton:hover {
  background-color: rgb(245, 245, 245);
}

.popup {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 22px 16px;
  width: 400px;
}

.section {
  margin: 8px 0;
}

.title {
  font-weight: 700;
  color: var(--color-text-secondary);
}

.value {
  font-weight: 500;
}
