.container {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .container {
    padding: 15px 0;
    padding-top: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto;
}

@media (min-width: 576px) {
  .grid {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 0 6px 6px;
    display: grid;
    grid-template-columns: auto;
    height: auto
  }
}

.content {
  font-size: inherit;
  width: 100%;
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
}
