.container {
  display: grid;
  grid-template-columns: 200px auto;
  min-height: 100vh;
  background-color: rgb(238, 232, 237);;
}

.content {
  margin: 1em 2em;
  padding: 1.5em 3em;
  position: relative;
  background-color: #fff;
  box-shadow: 0 15px 35px 0 rgba(60,66,87,.08), 0 5px 15px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}