.saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    border: 2px solid  #16c79a;
    color: #16c79a;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    font-weight: 600;
}

.saveButton:hover,
.saveButton:focus {
    background-color:#16c79a;
    color: #fff;
}

.saveButton svg {
    width: 1em;
    height: 1em;
}

.saveTitle {
    font-size: 16px;
}