.container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 36px;
  max-width: 600px;
  padding: 0 32px;
  padding-bottom: 32px;
}

.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  color: var(--color-text);
  border-color: var(--color-input-border);
  background-color: var(--color-input-background);
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 0.3rem 0.6rem;
  text-align: left;
  appearance: none;
  align-items: center;
  font-family: inherit;
  resize: none;
}

.input:focus,
.input:active {
  border-color: rgba(58, 121, 212, 0.36);
  box-shadow: 0 0 0 2px #bedcfa;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.buttons * + * {
  margin-left: 14px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  display: inline-block;
  color: var(--color-text-secondary);
  font-weight: 500;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 4px;
}

.inputContainer:focus-within > .label {
  color: #007efe;
}

.header {
  border-radius: 10px 10px 0 0;
  color: #fff;
  background-color: var(--color-primary);
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 600;
}
