.container {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 36px;
  padding: 0 40px;
  padding-bottom: 24px;
}

.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
  font-size: 0;
}

.input {
  color: var(--color-text);
  border-color: var(--color-input-border);
  background-color: var(--color-input-background);
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  padding: 0.3rem 0.6rem;
  text-align: left;
  appearance: none;
  align-items: center;
  font-family: inherit;
  resize: none;
  overflow: hidden;
  outline: none;
}

.input:focus,
.input:active {
  border-color: var(--color-primary);
  outline: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
}

.label {
  display: inline-flex;
  color: var(--color-text-secondary);
  font-weight: 500;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 4px;
  align-items: center;
}

.inputContainer:focus-within > .label {
  color: #007efe;
}

.header {
  border-radius: 10px 10px 0 0;
  color: #fff;
  padding: 24px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.suggestedTranslateLabel {
  background-color: rgba(0, 126, 254, 0.1);
  color: var(--color-primary);
  border-radius: 10px;
  display: inline-flex;
  width: fit-content;
  padding: 2px 8px;
  font-size: 14px;
  align-items: center;
  margin-bottom: 24px;
  margin-top: -16px;
  cursor: pointer;
  transition: filter 150ms ease-in-out;
}

.unchecked {
  filter: grayscale();
}

.suggestedTranslateLabel .MuiIconButton-label {
  color: var(--color-primary);
}

.translateLoading {
  color: var(--color-primary);
  margin-left: 8px;
  margin-bottom: -2px;
}

.suggestedTranslate {
  background-color: hsl(211, 100%, 95%);
  color: hsl(237, 97%, 74%);
  padding: 4px 18px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
  font-size: 14px;
  border: 1px solid #d4d4d4;
  border-color: rgb(124, 131, 253);
  font-weight: 500;
  cursor: pointer;
  line-height: 0;
  transition: 200ms ease-in-out;
  min-height: 30px;
  margin-left: 10px;
}
