.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 32px;
  margin: 0 auto;
  background-color: var(--color-background);
  box-shadow: 0 15px 35px 0 rgba(60, 66, 87, 0.08),
    0 5px 15px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: 100vh;
}

@media (min-width: 576px) {
  .container {
    margin-top: 3em;
    width: 500px;
    padding: 3em 2em;
    justify-content: center;
    height: initial;
  }
}

.title {
  padding: 0;
  margin: 0;
  font-size: 26px;
  margin-bottom: 36px;
  font-weight: 600;
  justify-self: flex-start;
  width: 100%;
}

.providers {
  width: 100%;
}

.providerButton {
  background: transparent;
  font-size: 17px;
  line-height: 1.1;
  font-weight: 600;
  min-width: 28px;
  padding: 18px 32px;
  border-radius: 28px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  border-radius: 12px;
  white-space: normal;
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  color: var(--text-color);
}

.providerButton:hover,
.providerButton:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.providerButton > svg {
  width: 1em;
  height: 1em;
  margin-right: 8px;
}
