.container {
    display: flex;
}

.inputContainer {
    max-width: 600px;
    display: flex;
}

.input {
    font: inherit;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    border-bottom: 2px solid #ccc;
    outline: none;
    margin-right: 1em;
}

.input:focus {
    border-bottom: 2px solid  #1976d2;
}

.saveButton {
    cursor: pointer;
    background-color: #4caf50;
    border-radius: 1.5em;
    border: none;
    padding: 0.5em 1.2em;
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
    color: #fff;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 4px;
}

.saveButton svg {
    color: currentColor;
}
