.form {
    background-color: #fff;
    border-radius: 8px;
    width: 100%;
}

.formTitle {
    padding: 0;
    margin: 0;
    font-size: 26px;
    margin-bottom: 36px;
    font-weight: 600;
}

.input {
    color: #1d1d1f;
    border-color: #d2d2d7;
    background-color: hsla(0, 0%, 100%, .8);
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    width: 100%;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 0.8rem;
    padding: 0.45rem 0.9rem;
    text-align: left;
    appearance: none;
    align-items: center;
}

.input:focus, 
.input:active {
    border-color: rgba(58, 121, 212, 0.36);
    box-shadow: 0 0 0 2px #bedcfa;
    outline: none;
}

.buttonContainer {
    margin-top: 2.5rem;
}

.submitButton {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;
    background: #892cdc;
    color: #fff;
    font-size: 17px;
    line-height: 1.1;
    font-weight: 600;
    min-width: 28px;
    padding: 18px 32px;
    border-radius: 28px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 8px;
    border-radius: 12px;
    white-space: normal;
    display: inline-block;
    border: none;
}

.submitButton:hover, 
.submitButton:focus {
    background: #bc6ff1;
}


.inputTitle {
    display: inline-block;
    margin-bottom: 6px;
}

/* Same code in TopBar */
.logo {
    padding: 0 24px;
    /* color: #7579e7; */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Proza Libre', sans-serif;
}