.wrapper {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  padding-top: 45px;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.block {
  font-size: 18px;
  color: var(--color-text-secondary);
  display: flex;
  justify-content: center;
}

.block + .block {
  margin-top: 50px;
}

.startButton {
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a4ae3;
}

.subtitle {
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.promoImageDictionary {
  width: 100%;
  border-radius: 22px;
  box-shadow: 0 15px 35px 0 rgba(60, 67, 87, 0.08),
    0 5px 15px 0 rgba(0, 0, 0, 0.12);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 120px;
}

.footer {
  margin: 12px 0;
  display: flex;
  justify-content: center;
}

.link {
  font-weight: 600;
  text-decoration: none;
  margin: 0 12px;
  color: #5a4ae3;
  border-bottom: 1px dashed rgb(192, 192, 192);
}

.link:hover,
.link:focus {
  border-color: #5a4ae3;
}

.copyright {
  color: rgb(82, 82, 82);
}
