.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 6em 4em;
    margin: 0 auto;
    margin-top: 3em;
    background-color: #fff;
    box-shadow: 0 15px 35px 0 rgba(60,66,87,.08), 0 5px 15px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}

.linkToSignUpBlock {
    margin-top: 1em;
}

.link {
    text-decoration: underline;
    color: #000;
}

.link:hover, 
.link:focus {
    text-decoration: none;
}

.learnic {
    color: #892cdc;
}