.actionButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: rgb(55, 53, 47);
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
}

.icons * + * {
  margin-left: 8px;
}

.icons {
  display: flex;
}

.actionButton:hover {
  background-color: rgb(245, 245, 245);
}

.deleteButton:hover {
  background-color: rgb(255, 224, 224);
}
