.actionButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.icons * + * {
  margin-left: 8px;
}

.icons {
  display: flex;
}
