.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: initial;
  padding: 10px;
}

@media (min-width: 576px) {
  .wrapper {
    padding: 25px;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}

.container {
  height: auto;
  padding: 0;
  width: 100%;
  width: 100%;
  max-width: 100vw;
  font-size: 22px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 576px) {
  .wrapper {
    height: 90vh;
  }

  .title {
    font-size: 3rem;
  }

  .container {
    padding: 22px;
    max-width: 750px;
  }
}

.container .slick-slider {
  display: flex;
  width: 100%;
}

.sliderContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .sliderContainer {
    width: 600px;
  }
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

@media (min-width: 576px) {
  .controls {
    justify-content: center;
  }
}

.cardButton {
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .cardButton {
    border-radius: 6px;
    padding: 6px 12px;
    width: 180px;
  }
}

.cardButton > span {
  display: inline-flex;
  align-items: center;
}

.cardButton svg {
  width: 2em;
  height: 2em;
}

@media (min-width: 576px) {
  .cardButton svg {
    width: 1em;
    height: 1em;
  }
}

.cardButton + .cardButton {
  margin-left: 40px;
}

.cardButton:disabled {
  filter: grayscale(100%);
  cursor: auto;
}

.done {
  background-color: var(--color-success);
  color: var(--color-success-accent);
}

.fail {
  background-color: var(--color-fail);
  color: var(--color-fail-accent);
}

.done:not([disabled]):hover {
  background-color: var(--color-success-light);
}

.fail:not([disabled]):hover {
  background-color: var(--color-fail-light);
}

.button {
  display: none;
  border: none;
  background-color: rgba(199, 199, 199, 0.2);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  outline: none;
}

@media (min-width: 576px) {
  .button {
    display: flex;
  }
}

.button:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.header {
  width: 100%;
  margin-bottom: 30px;
}

.progressBarContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: 576px) {
  .progressBarContainer {
    width: 400px;
  }
}

.count {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-secondary);
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.headerOptions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.checkboxContainer {
  margin-left: 0;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .headerOptions {
    align-items: center;
    flex-direction: row;
  }

  .checkboxContainer {
    margin-left: 60px;
  }
}
