.wrapper {
  display: flex;
  flex-direction: column;
  height: initial;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}

@media (min-width: 720px) {
  .wrapper {
    border: 1px solid var(--color-input-border);
  }
}

.title {
  font-size: 36px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.container {
  height: auto;
  padding: 0;
  width: 100%;
  width: 100%;
  max-width: 100vw;
  font-size: 22px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 576px) {
  .title {
    font-size: 3rem;
  }

  .container {
    padding: 8px;
    max-width: 750px;
    margin: 0 auto;
  }
}

.container .slick-slider {
  display: flex;
  width: 100%;
}

.sliderContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .sliderContainer {
    width: 600px;
  }
}

.controls {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

@media (min-width: 576px) {
  .controls {
    justify-content: center;
  }
}

.cardButton {
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  flex-grow: 1;
  transition: ease-in-out 0.2s;
}

@media (min-width: 576px) {
  .cardButton {
    padding: 6px 12px;
  }
}

.cardButton > span {
  display: inline-flex;
  align-items: center;
}

.cardButton svg {
  width: 2em;
  height: 2em;
}

@media (min-width: 576px) {
  .cardButton svg {
    width: 1em;
    height: 1em;
  }
}

.cardButton + .cardButton {
  margin-left: 15px;
}

.cardButton:disabled {
  filter: grayscale(100%);
  cursor: auto;
}

.done {
  background-color: #4033f8;
  color: #fff;
}

.fail {
  background-color: rgba(253, 192, 192, 0.2);
  color: var(--color-fail-accent);
}

.medium {
  background-color: rgba(45, 16, 82, 0.2);
}

.button {
  display: none;
  border: none;
  background-color: rgba(199, 199, 199, 0.2);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  outline: none;
}

.button > svg {
  transition: 0.3s;
}

@media (min-width: 576px) {
  .button {
    display: flex;
  }
}

.button.next:hover > svg {
  transform: translateX(5px);
}

.button.back:hover > svg {
  transform: translateX(-5px);
}

.trainingHeader {
  width: 100%;
  margin-bottom: 12px;
  justify-content: flex-start;
}

.progressBarContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: 8px;
}

@media (min-width: 576px) {
  .progressBarContainer {
    width: 100%;
    margin-top: 15px;
  }
}

.count {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.count > span:nth-child(1) {
  color: #7c83fd;
}

.count > :nth-child(2) {
  color: #7c83fd;
}

.hidden {
  visibility: hidden;
}

.headerOptions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.checkboxContainer {
  margin-left: 0;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .headerOptions {
    align-items: center;
    flex-direction: row;
  }

  .checkboxContainer {
    margin-left: 60px;
  }
}

.headerTitle {
  color: #5f55ff;
  font-size: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.headerTextBlock {
  padding-bottom: 20px;
  margin-bottom: 32px;
  border-bottom: 1px solid #ccc;
  line-height: 1.75;
  font-size: 18px;
  color: rgb(77, 77, 77);
  font-weight: 500;
}

.headerTextWrapper {
  max-width: 800px;
}

.headerList {
  list-style: circle;
  padding-left: 40px;
  margin: 8px 0 12px 0;
}

.backToTheListButton {
  min-width: 100px;
  flex-shrink: 1;
  cursor: pointer;
  border: none;
  color: var(--color-text);
  padding: 0.5em 1em;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: -0.025em;
  outline: none;
  color: rgb(39, 39, 39);
  background-color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

.backToTheListButton svg {
  font-size: 14px;
}

.backToTheListButton:hover {
  background-color: rgb(235, 235, 235);
}

.skeletons {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-column-gap: 16px;
}

.controlsHeader {
  margin-top: 16px;
  font-weight: 500;
  color: rgb(0 0 0 / 85%);
  font-size: 18px;
  text-align: center;
}
