.container {
  font-size: 22px;
  font-weight: 600;
  padding: 16px 32px;
  display: flex;
  background-color: var(--color-background-secondary);
  height: 200px;
  width: 450px;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
  color: var(--color-text-secondary);
  margin-top: 22px;
}

.container > h2 {
  font-size: 24px;
}
