.container {
  font-size: 22px;
  font-weight: 600;
  padding: 12px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-secondary);
  height: 200px;
  max-width: 450px;
  flex-direction: column;
  text-align: center;
}
