.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-row-gap: 10px;
}

@media (min-width: 720px) {
  .list {
    grid-template-columns: repeat(4, 250px);
    grid-column-gap: 16px;
  }
}
