.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 24px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: #7c6ae0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  font-weight: 500;
  height: 45px;
}

.saveButton:hover,
.saveButton:focus {
  background-color: #554b9b;
  color: #fff;
}

.saveButton svg {
  width: 1em;
  height: 1em;
}

.saveTitle {
  font-size: 16px;
}
