.saveButton {
  min-width: 100px;
  flex-shrink: 1;
  cursor: pointer;
  border: none;
  color: var(--color-text);
  padding: 0.5em 1em;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: -0.025em;
  outline: none;
  color: #51cf81;
  background-color: #c8fbdb;
  display: flex;
  align-items: center;
  margin-right: 12px;
}

@media (min-width: 576px) {
  .saveButton {
    flex-shrink: 0;
  }
}

.saveButton:hover {
  background-color: #c2fdd6;
}


.saveButton:disabled {
  cursor: not-allowed;
  filter: grayscale(1);
}
