.backButtonContainer {
    margin-top: 40px;
    margin-left: auto;
    margin-right: 18px;
}

.backButton {
    color: #7579e7;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-size: 16px;
    width: max-content;
    display: flex;
    align-items: center;
}

.backButton .backIcon {
    transition: 150ms ease-in-out ;
}

.backButton:hover .backIcon {
    margin-right: 8px;
    transition: 100ms ease-in-out;
}