.container {
  background-color: var(--color-background);
  position: absolute;
  width: 95%;
  padding: 12px 25px;
  padding-top: 24px;
  outline: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin: 2.5%;
  height: 100vh;
}

@media (min-width: 576px) {
  .container {
    width: 500px;
    transform: translate(-250px, -350px);
    height: auto;
    top: 50%;
    left: 50%;
  }
}

.title {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  padding: 15px 0;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-left: 22px;
}

.item + .item {
  margin-top: 10px;
}

.item::marker {
  content: '👉 ';
}

.closeButton {
  top: 15px;
  right: 15px;
  position: absolute;
  outline: none;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-text);
}

.closeButton:hover,
.closeButton:focus {
  background-color: rgba(158, 158, 158, 0.2);
}
