.item {
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  height: 100%;
  display: inline-flex;
  padding: 0 18px;
}

.title {
  display: inline-block;
  display: flex;
  align-items: center;
  height: inherit;
}

.item:hover:not(.itemActive),
.item:focus:not(.itemActive) {
  color: #86c3ff;
}

.itemActive {
  color: #1c8bfa;
}

.itemActive:hover .title,
.itemActive:focus .title {
  color: #1c8bfa;
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #eeeeee;
}

.itemWrapper {
  height: 100%;
}
