.item {
  min-width: 100px;
  flex-shrink: 1;
  cursor: pointer;
  border: none;
  color: var(--color-primary);
  padding: 0.5em 1em;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: -0.025em;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre;
}

.title {
  display: inline-block;
  display: flex;
  align-items: center;
  height: inherit;
}

.item:hover,
.item:focus {
  background-color: rgba(131, 137, 245, 0.075);
}

.link {
  width: 100%;
  text-decoration: none;
  color: #eeeeee;
  height: 100%;
  display: flex;
  align-items: center;
}

.itemWrapper {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
