.container {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}

.card {
  width: 100%;
  height: 100%;
}

/* TODO Fix that. Very expensive request to all divs */
.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 126, 254, 0.1);
  transition: transform 600ms linear;
  border-radius: 6px;
  backface-visibility: hidden;
  padding: 25px;
  color: var(--color-text);
}

.card div:hover {
  box-shadow: none;
}

.cardSuccess div {
  background-color: var(--color-card-success);
}

.cardFailed div {
  background-color: var(--color-card-fail);
}

.cardTitle {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 12px;
  position: relative;
  text-align: center;
}

.front {
  transform: perspective(1800px) rotateY(0deg);
}

.back {
  transform: perspective(1800px) rotateY(180deg);
}

.frontFlipped {
  transform: perspective(1800px) rotateY(-180deg);
}

.backFlipped {
  transform: perspective(1800px) rotateY(0deg);
}

.flip {
  font-size: 16px;
  margin-top: 50px;
  outline: none;
  background: transparent;
  border: none;
  padding: 5px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.flip:focus,
.flip:hover {
  background-color: rgba(0, 126, 254, 0.1);
}

.audioButtonContainer {
  position: absolute;
  top: 15px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showDefinitionButton {
  cursor: pointer;
  width: 45px;
  height: 45px;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  border-radius: 50%;
}

.showDefinitionButton:hover,
.showDefinitionButton:focus {
  background-color: rgba(0, 126, 254, 0.1);
}
