.container {
  position: relative;
  width: 100%;
  height: 45px;
  margin-right: 20px;
  max-width: initial;
}

.input {
  color: var(--color-text-secondary);
  background-color: var(--color-input-background);
  border: none;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  padding: 0.45rem 0.9rem;
  padding-left: 32px;
  text-align: left;
  appearance: none;
  align-items: center;
  height: 45px;
  outline: none;
  border-bottom: 1px solid var(--color-input-border);
}

.input:focus,
.input:active {
  border-bottom: 1px solid #2c2e43;
}

.icon {
  position: absolute;
  top: 50%;
  position: absolute;
  top: 50%;
  transform: translate(6px, -12px);
  height: 24px;
  width: 24px;
}

.icon svg {
  fill: var(--color-text);
}
