.button {
  cursor: pointer;
  border: none;
  color: #fff;
  height: 45px;
  background-color: #7579e7;
  padding: 0.45em 2em;
  font-size: 1.1rem;
  min-width: 64px;
  box-sizing: border-box;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: 0.025em;
}

.button:hover,
.button:focus {
  background-color: #686cd8;
}

.button:disabled {
  background-color: #ccc;
}

.button:disabled:hover,
.button:disabled:focus {
  background-color: #ccc;
}
