.container {
  background-color: var(--color-background-secondary);
  border-radius: 6px;
  padding: 15px;
}

.definition {
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
