.audioButtonContainer {
  display: flex;
  margin: 0;
  margin-right: 4px;
}

.audioButton {
  min-height: 45px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  font-size: 25px;
  color: #2c2e43;
  background-color: inherit;
}

.withText {
  border-radius: 10px;
}

.audioButton:not(.withText) {
  width: 45px;
}

.transcription {
  display: inline-block;
  margin-left: 8px;
}

.audioButton:hover {
  background-color: rgba(0, 126, 254, 0.1);
  color: var(--color-primary);
}
