.audioButtonContainer {
  display: inline-block;
  margin: 0 4px;
  margin-bottom: -5px;
}

.audioButton {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  font-size: 25px;
  border-radius: 50%;
  background-color: #ffe470;
  color: #2c2e43;
}

.audioButton:hover {
  background-color: rgba(0, 126, 254, 0.1);
  color: var(--color-primary);
}
