.wrapper {
  display: flex;
  height: initial;
  box-shadow: 0 2px 12px rgb(0 40 117 / 6%);
  background-color: #fff;
  border-radius: 10px;
  padding: 0 25px;
  min-height: auto;
  height: 90vh;
  flex-direction: column;
}

@media (min-width: 720px) {
  .wrapper {
    flex-direction: initial;
    min-height: 80vh;
    height: auto;
  }
}

.aside {
  width: min-content;
  padding: 25px 25px 25px 0;
}

@media (min-width: 720px) {
  .aside {
    border-right: 1px solid var(--color-input-border);
  }
}

.avatar {
  font-size: inherit;
  width: 70px;
  height: 70px;
}

.userInfo {
  margin: 16px 0;
  font-weight: 500;
}

.email {
  color: var(--color-text-secondary);
}

.title {
  font-size: 36px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.main {
  padding: 0;
}

@media (min-width: 720px) {
  .main {
    padding: 25px;
  }
}
