.container {
  font-size: 18px;
  height: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.topBar {
  display: flex;
  justify-content: flex-end;
  border-bottom: #f0f0f0;
}

.topBar svg {
  width: 40px;
  height: 40px;
}
