.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}

@media (min-width: 576px) {
  .listContainer {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .listContainer > * {
    max-height: 100%;
    overflow: auto;
  }

  .title {
    font-size: 3rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.listContainer {
  display: flex;
}

@media (min-width: 576px) {
  .listContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 40px;
  }

  .listContainer > * {
    max-height: 100%;
    overflow: auto;
  }
}

.wordsListContainer {
  height: initial;
  overflow: auto;
  padding: 25px 0;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 45px;
  padding: 25px;
  box-shadow: 0 2px 12px rgb(0 40 117 / 6%);
}

.closePopupButton {
  background: inherit;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--color-text);
  align-self: flex-end;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.closePopupButton:hover {
  background-color: rgba(0, 126, 254, 0.1);
}

.closePopupButton > svg {
  color: inherit;
  font-size: inherit;
}

.wordsCardContainer {
  height: initial;
  overflow: auto;
  padding: 25px;
  overflow-x: hidden;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .wordsListContainer {
    height: auto;
  }

  .wordsCardContainer {
    height: auto;
  }
}

.modalContainer {
  background-color: var(--color-background);
  position: absolute;
  outline: none;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .modalContainer {
    width: 800px;
    transform: translate(-400px, 20px);
    height: auto;
    left: 50%;
  }
}
