.styledItem {
    cursor: pointer;
    border: none;
    color: #000;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.45em  2em;
    font-size: 1.1rem;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 8px;
    letter-spacing: 0.02857em;
}

.styledItem:hover {
    background-color: #9ab3f5;
    box-shadow: none;
}

.itemTitle {
    font-size: 1.2rem;
}

.itemDef {
    font-weight: 400;
    margin-top: 0.5em;
    color: rgba(0, 0, 0, 0.9);
}