.wrapper {
    background-color: #f6f6f6;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
  }

  .content {
    font-size: inherit;
    min-height: 100vh;
  }