.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 24px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #16c79a;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 45px;
}

.cancelButton {
  composes: saveButton;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: transparent;
  background-color: var(--color-button-secondary);
  color: #000;
}

.cancelButton:hover {
  background-color: rgb(189, 189, 189);
}

.saveTitle {
  font-size: 16px;
}
