.list {
    list-style: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listItem {
    width: 100%;
}

.listItem + .listItem {
    margin-top: 24px;
}

