.container {
  position: fixed;
  top: 80px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgb(0 40 117 / 6%);
}

.wordSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 28px;
  padding: 0 12px;
}

.contextSection {
  display: inline-block;
  margin-top: 25px;
  /* background-color: #fbfbfb; */
  padding: 12px;
  border-radius: 8px;
}

.examplesList {
  padding: 0;
  margin: 4px 0;
  list-style-type: disc;
  margin-left: 22px;
}

.example {
  font-weight: normal;
  font-size: 16px;
}

.examplesItem::marker {
  content: '👉 ';
}

.examplesItem {
  position: relative;
  font-weight: 500;
  padding: 8px 0px;
}

.addExampleButton {
  min-width: 100px;
  flex-shrink: 1;
  cursor: pointer;
  border: none;
  color: var(--color-text);
  height: 36px;
  padding: 0 1em;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: -0.025em;
  outline: none;
  color: #51cf81;
  background-color: #c8fbdb;
}

@media (min-width: 576px) {
  .addExampleButton {
    flex-shrink: 0;
  }
}

.addExampleButton:hover {
  background-color: #c2fdd6;
}

.backButtonContainer {
  margin: 18px 0;
}

.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 24px;
  background: transparent;
  border: none;
  outline: none;
  background-color: #16c79a;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.backButton {
  composes: saveButton;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: transparent;
  background-color: var(--color-text);
}

.notSelectedContainer {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.wordContainer {
  margin-right: 12px;
}

.examples {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4px;
  border-bottom: 1px solid rgb(233, 233, 233);
  padding-bottom: 4px;
}

.examplesTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons * + * {
  margin-left: 16px;
}

.disabled {
  color: rgb(180, 180, 180);
}
