.container {
    width: 100%;
    max-width: 600px;
    border-left: 1px solid #f0f0f0;
    height: 100%;
    top: 0;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
}

.wordSection {
    display: flex;
    font-size: 26px;
    font-weight: 600;
}

.audioButtonContainer {
    margin: 0 10px;
    display: flex;
}

.audioButton {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.contextSection {
    display: inline-block;
    margin-top: 40px;
}

.videoSection {
    margin-top: 40px;
    display: inline-block;
}

.example {
    display: block;
    padding: 8px 0px;
}

.examplesList {
    list-style: none;
    padding: 0;
    font-size: 1.25;
    padding: 4px 0px;
}

.examplesItem {
   padding: 6px 0;
   position: relative;
   font-style: italic;
}

.noSelectedWord {
    font-size: 22px;
    font-weight: 600;
    padding: 12px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.025);
    height: 200px;
}

.steps {
    filter: grayscale(100%);
}

.addExampleButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #7579e7;
    padding: 0.5em  1.5em;
    font-size: 1rem;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 600;
    border-radius: 8px;
}

.addExampleButton:hover {
    background-color: #5F62B8;
    box-shadow: none;
}