.container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
}

.wordSection {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}

.audioButtonContainer {
    margin: 0 10px;
    display: flex;
}

.audioButton {
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.contextSection {
    display: inline-block;
    margin-top: 25px;
}

.videoSection {
    margin-top: 25px;
    display: inline-block;
}

.example {
    display: block;
    padding: 8px 0px;
}

.examplesList {
    list-style: none;
    padding: 0;
    font-size: 1.25;
    padding: 4px 0px;
}

.examplesItem {
   padding: 6px 0;
   position: relative;
   font-style: italic;
}

.noSelectedWord {
    font-size: 22px;
    font-weight: 600;
    padding: 12px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.025);
    height: 200px;
}

.addExampleButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #7579e7;
    padding: 0.5em  1.5em;
    font-size: 1rem;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 600;
    border-radius: 8px;
}

.addExampleButton:hover {
    background-color: #5F62B8;
    box-shadow: none;
}

.backButtonContainer {
    margin: 22px 0;
}


.saveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    background: transparent;
    border: none;
    outline: none;
    background-color: #16c79a;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    /* width: 160px; */
}

.backButton {
    composes: saveButton;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: transparent;
    color: #000;
}

.cancelButton:focus, .cancelButton:hover {
    background-color: rgba(0, 0 ,0,0.05);
}