.cardsContainer {
  margin-top: 0.5em;
}

.cardsList {
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  padding-right: 25px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  display: flex;
  padding-right: 25px;
}

.addNewWordButton {
  min-width: 100px;
  flex-shrink: 1;
  cursor: pointer;
  border: none;
  color: var(--color-primary);
  height: 45px;
  padding: 0.25em 1.25em;
  font-size: 1.1rem;
  box-sizing: border-box;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: -0.025em;
  outline: none;
  background-color: var(--color-primary-light);
}

@media (min-width: 576px) {
  .addNewWordButton {
    flex-shrink: 0;
  }
}

.addNewWordButton:hover {
  background-color: var(--color-primary-medium);
}

.disable {
  background-color: #ccc;
}

.disable:focus,
.disable:hover {
  background-color: #ccc;
}

.header {
  padding-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.headerTitle {
  padding: 0;
  margin: 0;
  font-size: 28px;
  position: absolute;
  left: 44px;
}
