.cardsContainer {
  margin-top: 1.5em;
}

.cardsList {
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.cardItem {
  cursor: pointer;
  width: 250px;
  padding: 4px;
  border-radius: 4px;
}

.cardItem:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.cardButton {
  cursor: pointer;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  outline: none;
}

.buttonsContainer {
  margin-top: 1.5em;
  display: flex;
  align-items: baseline;
  display: flex;
  height: 47px;
}

.addNewWordButton {
  min-width: 100px;
  flex-shrink: 1;
  cursor: pointer;
  border: none;
  color: #fff;
  height: 45px;
  background-color: var(--color-primary);
  padding: 0.45em 2em;
  font-size: 1.1rem;
  box-sizing: border-box;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: 0.025em;
  outline: none;
}

@media (min-width: 576px) {
  .addNewWordButton {
    flex-shrink: 0;
    width: 200px;
  }
}

.addNewWordButton:hover {
  background-color: var(--color-primary-light);
}

.actionButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.icons * + * {
  margin-left: 8px;
}

.cardItemContainer {
  display: flex;
}

.cardItemContainer svg {
  fill: var(--color-text);
  font-size: inherit;
}

.icons {
  display: flex;
  margin-left: auto;
}

.cardItemTextContainer {
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardItemTextContainerHovered {
  width: 200px;
}

.disable {
  background-color: #ccc;
}

.disable:focus,
.disable:hover {
  background-color: #ccc;
}
