@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Source+Sans+Pro&family=Open+Sans&family=Proza+Libre:wght@700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.95);
  color: var(--color-text);
}

button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --color-background: #fff;
  --color-text: #000;
  --color-text-secondary: rgba(0, 0, 0, 0.65);
  --color-primary: hsl(210, 100%, 50%);
  --color-primary-light: hsl(210, 100%, 61%);
  --color-card-success: rgb(155 255 181);
  --color-card-fail: rgb(248, 188, 193);
  --color-success: rgb(215, 245, 252);
  --color-success-light: rgb(232, 246, 249);
  --color-success-accent: rgb(68, 171, 192);
  --color-fail-light: rgb(250, 234, 235);
  --color-fail: rgb(250, 212, 215);
  --color-fail-accent: rgb(218, 119, 138);
  --color-input-background: hsla(0, 0%, 100%, 0.8);
  --color-input-border: #d2d2d7;
  --color-button-secondary: #e0e0e0;
  --color-background-secondary: rgb(246 246 246);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1d1f22;
    /* For dark accents */
    /* --color-background: hsl(210deg, 30%, 8%); */
    --color-text: rgb(230, 227, 227);
    --color-text-secondary: rgb(187, 187, 187);
    --color-card-success: rgb(62, 151, 168);
    --color-card-fail: rgb(180, 100, 116);
    --color-success: rgb(21, 89, 104);
    --color-success-light: rgb(42, 108, 122);
    --color-success-accent: rgb(214, 223, 224);
    --color-fail: rgb(114, 64, 68);
    --color-fail-light: rgb(138, 77, 82);
    --color-fail-accent: rgb(211, 200, 203);
    --color-input-background: rgb(27, 27, 27);
    --color-input-border: rgb(77, 77, 77);
    --color-background-secondary: rgb(39, 39, 39);
  }
}

[data-scheme='light'] {
  --color-background: #fff;
  --color-text: #000;
  --color-text-secondary: rgba(0, 0, 0, 0.65);
  --color-primary: hsl(210, 100%, 50%);
  --color-primary-light: hsl(210, 100%, 61%);
  --color-card-success: rgb(155 255 181);
  --color-card-fail: rgb(248, 188, 193);
  --color-success: rgb(215, 245, 252);
  --color-success-light: rgb(232, 246, 249);
  --color-success-accent: rgb(68, 171, 192);
  --color-fail-light: rgb(250, 234, 235);
  --color-fail: rgb(250, 212, 215);
  --color-fail-accent: rgb(218, 119, 138);
  --color-input-background: hsla(0, 0%, 100%, 0.8);
  --color-input-border: #d2d2d7;
  --color-background-secondary: rgb(246 246 246);
}

[data-scheme='dark'] {
  --color-background: #1d1f22;
  /* For dark accents */
  /* --color-background: hsl(210deg, 30%, 8%); */
  --color-text: rgb(230, 227, 227);
  --color-text-secondary: rgb(187, 187, 187);
  --color-card-success: rgb(62, 151, 168);
  --color-card-fail: rgb(180, 100, 116);
  --color-success: rgb(21, 89, 104);
  --color-success-light: rgb(42, 108, 122);
  --color-success-accent: rgb(214, 223, 224);
  --color-fail: rgb(114, 64, 68);
  --color-fail-light: rgb(138, 77, 82);
  --color-fail-accent: rgb(211, 200, 203);
  --color-input-background: rgb(27, 27, 27);
  --color-input-border: rgb(77, 77, 77);
  --color-background-secondary: rgb(39, 39, 39);
}
