@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Source+Sans+Pro&family=Open+Sans&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: hsl(0, 0%, 95%);
}

button {
    font-family: inherit;
}