.container {
  margin-bottom: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  display: inline-block;
  color: var(--color-text-secondary);
  font-weight: 500;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 4px;
}

.labelContainer {
  display: flex;
  align-items: center;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;
  border-radius: 10px;
  min-height: 43px;
}

.addNewTagButton {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
  border: none;
  background-color: rgb(207, 248, 207);
  color: rgb(82, 172, 82);
  font-weight: 500;
  font-size: 14px;
  padding: 4px 18px;
  height: 32px;
  margin-bottom: 4px;
  border-radius: 10px;
}
.addNewTagButton:hover {
  background-color: rgb(177, 247, 177);
}
