.cancelButton {
  min-width: 100px;
  flex-shrink: 1;
  cursor: pointer;
  border: none;
  color: var(--color-text);
  padding: 0.5em 1em;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 8px;
  letter-spacing: -0.025em;
  outline: none;
  color: #000;
  background-color: inherit;
}

.cancelButton:hover {
  background-color: rgb(245, 245, 245);
}

