.cardItem {
  cursor: pointer;
  padding: 4px;
  padding-left: 8px;
  border-radius: 4px;
}

.cardItem:hover {
  background-color: #f3f3f3;
}

.cardButton {
  cursor: pointer;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  outline: none;
}

.cardItemContainer {
  display: flex;
}

.cardItemContainer svg {
  fill: var(--color-text);
  font-size: inherit;
}

.cardItemTextContainer {
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardItemTextContainerHovered {
  width: 100%;
}
