.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 32px;
    background-color: #fff;
    box-shadow: 0 15px 35px 0 rgba(60,66,87,.08), 0 5px 15px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    height: 100vh;
}

@media (min-width: 576px) {
    .container {
      margin-top: 3em;
      width: 400px;
      padding: 6em 4em;
      justify-content: center;
    }
}

.learnic {
    color: #892cdc;
}

.logo {
    /* color: #7579e7; */
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Proza Libre', sans-serif;
}

.title {
    display: block;
    text-align: center;
}