.container {
  margin-bottom: 16px;
  padding: 0 12px;
}

.inputContainer {
  line-height: 0;
}

.input {
  font-family: inherit;
  color: var(--color-text);
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.3rem 0.6rem;
  text-align: left;
  appearance: none;
  align-items: center;
  resize: none;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
}

.input:focus,
.input:active {
  outline: none;
}

.input::placeholder {
  font-style: italic;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}
